.login-section {
  display: inline-flex;
  padding-top: 30px;
  //width: 00px;


  input {
    width: 250px;
  }

  .input-with-icon:nth-child(2) {
    margin: 0 10px;
  }

  button {
    width: 200px;
  } 

}

@media (max-width: 576px) {
  .login-section {
    flex-direction: column;
    align-items: center;

    .input-with-icon:nth-child(2) {
      margin: 10px 0;
    }
  }
  
}