.side-menu {
  width: 192px;
  height: 100vh;
  background: $side-menu-background-color;
  z-index: 1;

  .top-menu-buttons {
    position: fixed;
    top: 0;
    right: 0;
  }
}

@media (max-width: 576px) {
  .side-menu {
    width: 100%;
    height: auto;

    &__body {
      display: none;
    }

    &--show {
      .side-menu__body {
        display: block;
    
        .top-menu-buttons {
          position: static;
        }
      }
    }
  }
}
