.top-menu {
  height: 61px;
  // display: flex;
  background: $background-light-color;
  border-bottom: 1px solid $top-menu-border-color;
  z-index: 1;

  .top-menu-buttons {
    margin-right: 0;
    margin-left: auto;
  }

    
}

@media (max-width: 576px) {
  .top-menu {
    display: none;
  }
}