/* Colors */

/* Color palette */

$color_black: black;
$color-grey-scale-1: #333333;
$color-grey-scale-2: #979797;
$color-grey-scale-3: #B7B7B7;
$color-grey-scale-4: #E3E3E3;
$color-grey-scale-5: #F5F5F2;
$color-grey-scale-6: #FFFFFF;

$color-green-scale-1: #04AE00;
$color-green-scale-2: #74B67A;
$color-green-scale-3: #96CC9B;

$color-orange-scale-1: #F58220;
$color-orange-scale-2: #FFA200;

$color-red-scale-1: #FF0000;
$color-red-scale-2: #DE5252;
$color-red-scale-3: #EC7171;

$color-blue: #56819F;


/* Functional colors */

/* General colors */
$font-dark-color: $color-grey-scale-1;
$font-light-color: $color-grey-scale-2;
$font-white-color: $color-grey-scale-6;


$background-light-color: $color-grey-scale-6;
$background-medium-color: $color-grey-scale-5;
$backgroung-dark-color: $color-grey-scale-1;

/* Button colors */
$btn-color: $color-grey-scale-6;
$btn-background-color: $color-orange-scale-1;
$btn-background-hover-color: $color-orange-scale-2;
$btn--grey-background-color: $color-grey-scale-2;
$btn--grey-background-hover-color: $color-grey-scale-3;
$btn-background-disabled-color: $color-grey-scale-4;
$btn-icon-color: $color-grey-scale-1;
$dot-over-icon-color:$color-orange-scale-1;

/* Color-tab colors */
$color-tab-hover-background-color: $color-grey-scale-5;
$signups-tab-color: $color-blue;
$FTD-tab-color: $color-orange-scale-2;
$earned-tab-color: $color-green-scale-2;

/* Other colors */

$brand-color: $color-grey-scale-6;

$link-color: $color-blue;
$link-hover-color: $color-orange-scale-2;

$checkbox-label-hover-color: $color-grey-scale-5;
$checkbox-box-border-color:$color-grey-scale-4;

$number-list-border-color: $color-grey-scale-3;
$top-menu-btn-border-color: $color-grey-scale-3;
$top-menu-btn-background-color: $color-grey-scale-6;
$top-menu-btn-hover-background-color: $color-grey-scale-5;
$top-menu-border-color:$color-grey-scale-3;
$date-period-border-color: $color-grey-scale-3;
$date-period-icon-color: $color-grey-scale-2;
$date-period-border-hover-color: $color-grey-scale-2;
$date-period-icon-hover-color: $color-grey-scale-1;

$table-line-color: $color-grey-scale-3;
$table-background-hover-color: $color-grey-scale-4;
$table-links-icon-color: $color-orange-scale-2;
$table-trash-icon-color: $color-grey-scale-3;

$side-menu-background-color: lighten($color-black, 5%);
$menu-links-background-hover-color: lighten($color-black, 15%);
$manager-border-color: $color-grey-scale-3;
$section-header-border-color: $color-grey-scale-3;
$date-form-border-color: $color-grey-scale-3;

$text-input-border-color: $color-grey-scale-3;
$text-input-border-hover-color:$color-grey-scale-2;
$fieldset-border-color: $color-grey-scale-3;
$picked-page-background-color: $color-grey-scale-4;


/* Fonts */

$brand-font: "Open Sans", Helvetica, Arial;
$main-font: "Roboto";
$fallback-font: "Open Sans", Helvetica, Arial;
$icon-font: "Glyphter";

$base-font-size: 14px;
$base-font-weight: 300;
$font-light: 300;
$font-bold: 700;
$font-normal: 500;