.btn {
  border: none;
  border-radius: 2px;
  color: $btn-color;
  background: $btn-background-color;
  padding: 10px 20px;
  cursor: pointer;
  
  [class*='icon-']::before{
    color: $btn-icon-color;
    vertical-align: bottom;
    padding-right: 20px;
    
  }

  &:hover {
    background: $btn-background-hover-color;
  }

  &--grey {
    background: $btn--grey-background-color;
    
    &:hover {
      background: $btn--grey-background-hover-color;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background: $btn-background-disabled-color;
  }
}
