.btn {
  border: none;
  border-radius: 2px;
  @include text-params($color: $btn-color, $weight: 300, $size: "18px");
  background: $btn-background-color;
  padding: 10px 22px;
  cursor: pointer;

  [class*='icon-']::before{
    color: $btn-icon-color;
    vertical-align: bottom;
    padding-right: 20px;
    
  }

  &--icon-only {
    padding: 10px 10px;

    [class*='icon-']::before {
      padding: 0;
    }
  }

  &:hover {
    background: $btn-background-hover-color;
  }

  &--grey {
    background: $btn--grey-background-color;
    
    &:hover {
      background: $btn--grey-background-hover-color;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background: $btn-background-disabled-color;
  }
}

.top-menu-buttons {
  @include text-params($color: $font-light-color, $weight: $font-normal, $size: 20px);
  background: $top-menu-btn-background-color;
  display: flex;
  flex-wrap: wrap;

  &__btn {
    height: 60px;
    cursor: pointer;
    border: none;
    border-left: 1px solid $top-menu-btn-border-color;
    padding-left: 15px;
    position: relative;

    a {
      position: relative;
      bottom: 4px;
    }

    > * {
      position: relative;
      top: 18px;
      padding-right: 15px;
    }

    &:hover {
      background: $top-menu-btn-hover-background-color
    }

    .dot-over-icon {
      position: absolute;
      background: $dot-over-icon-color;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      padding: 0;
      right: 15px;
      top: 15px;
    }
  }
}

@media (max-width: 576px) {
  .top-menu-buttons {
    &__sm-btn-1 {
      order: 1;
      flex: 0 0 calc(100% - 53px);
      border-left: 1px solid $top-menu-btn-border-color;
      border-bottom: 1px solid $top-menu-btn-border-color;
    }

    &__sm-btn-2 {
      order: 2;
      border-left: 1px solid $top-menu-btn-border-color;
      border-right: 1px solid $top-menu-btn-border-color;
      border-bottom: 1px solid $top-menu-btn-border-color;
    }

    &__sm-btn-3 {
      order: 3;
      flex: 0 0 calc(100% - 53px);
      border-left: 1px solid $top-menu-btn-border-color;
      border-bottom: 1px solid $top-menu-btn-border-color;
    }

    &__sm-btn-4 {
      order: 4;
      
      border-left: 1px solid $top-menu-btn-border-color;
      border-right: 1px solid $top-menu-btn-border-color;
      border-bottom: 1px solid $top-menu-btn-border-color;
    }
  }  
}

