
input[type="checkbox"] {
  margin: 0;
  padding: 0;    
  display: none;

  + label {
    display: inline-block;
    padding: 10px 65px 12px 8px;
    position: relative;    
  }

  + label:before {  
    border: 1px solid $checkbox-box-border-color;
    content: "\00a0";
    display: inline-block;
    font-size: 16px;
    height: 18px;
    margin: 0 .7rem 0 0;
    padding: 0;
    vertical-align: top;
    width: 18px;
  }

  &:hover + label {
    background: $checkbox-label-hover-color;

  }

  &:hover + label::after {
    font-family: $icon-font;
    content: '\0059';
    vertical-align: bottom;
    position: absolute;
    right: 15px;
  }

  &:checked + label:before {
    border: none;
    //background: $checkbox-box-checked-background-color;
    //color: $checkbox-box-checked-color;
    content: "\2705";
    text-align: center;
  }
}
