.date-period {
  flex: 1 1 0;
  border: 1px solid $date-period-border-color;
  border-radius: 2px;
  min-width: 220px;
  // padding: 0 0 0 15px;
  max-width: 420px;
  position: relative;

  &:hover {
    border: 1px solid $date-period-border-hover-color;
  }

  input {
    @include text-params($color: $font-dark-color, $weight: $font-light, $size: 14px);
    border: none;
    display: inline-block;
    
    // width: 120px;
    width: calc(50% - 15px);
    padding: 9px 0 9px 15px;
    //line-height: 1.7;

    &:focus {
      outline: none;
    }

  }

  &::before {
    position: absolute;
    top: 4px;
    // left: 135px;
    left: calc(50% - 15px);
    display: block;
    width: 1px;
    height: 26px;
    content: "";
    border-left: 1px solid $date-period-border-color;
  }

  [class*='icon-'] {
    position: absolute;
    color: $date-period-icon-color;
    top: 8px;
    right: 15px;
    
    &:hover {
      color: $date-period-icon-hover-color;
      cursor: pointer;
    }
  }

  [class*='icon-']::before{   
    vertical-align: bottom; 
  }
}