.fieldset {
  width: 500px;
  padding-top: 15px;

  .input-group {    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 15px;
  }
  /*
  input[type="text"], input[type="password"], input[type="email"]{
    @include text-params($color: $font-dark-color, $weight: $font-light, $size: 14px);
    border: 1px solid $text-input-border-color;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
  }
*/
  label {
    @include text-params($color: $font-light-color, $weight: $font-bold, $size: 16px);
    line-height: 2;

  }
}