html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include text-params($family: $main-font, $weight: $base-font-weight, $size: $base-font-size, $color: $font-dark-color);

}

a {
  text-decoration: none;
  @include text-params($color: $link-color, $weight: $base-font-weight, $size: 16px);

  &:hover {
    color: $link-hover-color;
  }

  &.small {
    font-size: 13px;
  }
}