
input[type="text"], input[type="password"], input[type="email"]{
  @include text-params($color: $font-dark-color, $weight: $font-light, $size: 14px);
  border: 1px solid $text-input-border-color;
  border-radius: 2px;
  padding: 10px 15px;
  width: 100%;

  &:hover {
    border: 1px solid $text-input-border-hover-color;
  }
}

.input-with-icon {  
  position: relative;

  input {
    padding-left: 50px;
  }

  [class*="icon-"] {
    position: absolute;
    top: 12px;
    left: 15px; 
  }

}
