.manager {
  background: $side-menu-background-color;
  padding: 23px;
  border-top: 1px solid $manager-border-color;

  &__header {
    @include text-params($color: $font-light-color, $weight: $font-normal, $size: 14px);
    margin-bottom: 15px;

  }

  &__card {
    display: flex;
    
    // justify-content: space-between;
    align-items: center;
  }

  &__image {
    display: inline-block;
    margin-right: 15px;
  }
}