.menu-links {
  padding: 0 0 40px 0;
  margin: 0;

  li {
    list-style: none;

    a {
      @include text-params($size: 14px, $color: $font-light-color, $weight: $font-light);
      
      padding: 15px;
      display: block;

      &:hover , &.active {
        background: $menu-links-background-hover-color;
        color: $font-white-color;
        border-left: 4px solid orange;
        padding-left: 11px;
        color: $font-white-color;
      }  
    }

    [class*="icon-"] {
      padding: 0 15px 0 8px;
    }
  }
}