.number-list {
  margin: 0;
  padding: 0;
  width: 100%;

  &__item {
    border-bottom: 1px solid $number-list-border-color;
    padding: 15px 0 5px 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

  }

  

  &__description {
    @include text-params($color: $font-light-color, $weight: $font-bold, $size: 16px);
  }

  &__value {
    @include text-params($color: $font-dark-color, $weight: $font-light, $size: 16px);
  }
}

@media (min-width: 576px) {
  .number-list .col-sm-6 {
    padding: 0 10px;
  }
}

@media (max-width: 576px) {
  .number-list{
    max-width: 400px;
  }
}