.pagination {
  padding: 10px;
  
  p, a {
    display: inline-block;
    padding: 14px;
    line-height: 0.8;
  }

  .active {
    background: $picked-page-background-color;
  }
}

@media (max-width: 576px) {
  .pagination a:not(.active) {
    display: none;

  }
}