.table-with-link {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid $table-line-color;

  th {
    @include text-params($color: $font-light-color, $weight: $font-bold, $size: 16px);
    text-align: left;
    white-space: nowrap;
    padding: 20px 0 20px 20px;
    width: 100%;
  }

  td {
    white-space: nowrap;
    padding: 20px 40px 20px 0;

    [class*=icon-] {
      padding-left: 15px;
      cursor: pointer;
      visibility: hidden;
    }

    .icon-links {
      color: $table-links-icon-color;
    }

    .icon-trash {
      color: $table-trash-icon-color;
    }
  }
  
  tr {
    border-bottom: 1px solid $table-line-color;
    
    &:hover {
      background: $table-background-hover-color;

      [class*=icon-] {
        visibility: visible;
      }
    }
  }  
}

.table-with-sorting {
  width: 100%;
  border-collapse: collapse;

  th {
    @include text-params($color: $font-light-color, $weight: $font-bold, $size: 13px);
    text-align: center;
    white-space: nowrap;
    padding: 20px 0;
    
    [class*="icon-"] {
      padding-left: 10px;
      
    }

    * {
      padding: 8px;
    }

    &:hover * {
      background: $table-background-hover-color;
      cursor: pointer;
    }

    &:hover *:not([class*="icon-"]){
      color: $font-dark-color;
    }

  }

  td {
    white-space: nowrap;
    text-align: left;
    @include text-params($color: $font-dark-color, $weight: $font-light, $size: 13px);
    padding: 20px;

  }

  tr {
    border-bottom: 1px solid $table-line-color;  
  }

  tbody tr {
    &:hover {
      background: $table-background-hover-color;
      cursor: pointer;
      
    }
  }
}